* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --main-color: #8e44ad;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
body {
  font-family: cursive;
}
nav {
  background: rgb(255, 253, 253);
  height: 80px;
  width: 100%;
  position: sticky;
}
label.logo {
  color: rgb(17, 16, 13);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.logo {
  border-radius: 50%;
  margin-top: 0.35rem;
  /* position: relative;
  top: 50%; */
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(19, 17, 17);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background-color: rgb(255, 69, 72);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: rgb(19, 17, 17);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}



.heading {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 23rem;
  padding-bottom: 27rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin: 1rem;
}

.heading h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: var(--text-shadow);
  color: rgb(205, 39, 20);
}
article h4 {
  padding-top: 8rem;
  font-size: 2rem;
}
article p {
  font-size: 2rem;
 
}
.why_donate {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  /* height: 60vh; */
  /* background-color: #222; */
  /* font-size: ; */
}

.why_intro {
  width: 47%;
  background-color: rgb(255, 69, 72);
  height: 71vh;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.why_intro h1 {
  text-align: center;
  position: relative;
  top: 43%;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

.why_body {
  height: 71vh;
  width: 47%;
  background-color: rgb(160, 102, 203);
  margin-left: 1rem;
  margin-right: 1rem;
}

.why_body p {
  position: relative;
  top: 10%;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: left;
  padding-left: 0.5rem;
}

.hero_1 {
  height: 71vh;
  width: 47%;
  /* background-color: rgb(160, 102, 203); */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}
.hero_1 img {
  width: 100%;
}

.hero_2 {
  height: 71vh;
  width: 47%;
  /* background-color: rgb(160, 102, 203); */
  margin-left: 1rem;
  margin-right: 1rem;
}
.hero_2 img {
  width: 100%;
}

.heading-title {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 9rem;
}
.flex {
  height: 60vh;
}

.booking .book-form {
  padding: 2rem;
  background: rgb(139, 188, 187);
  height:80vh;
}

.booking {
  margin: 0.5rem;
  height:100vh;
}

.booking .book-form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

/* .booking .book-form .flex .inputBox {
  flex: 1 1 41rem;
}

.flex {
  flex: 3;
} */

.booking .book-form .flex .inputBox input {
  /* width: 50%; */
  padding: 1.2rem 1.4rem;
  font-size: 1rem;
  color: var(--light-black);
  text-transform: none;
  margin-top: 1.5rem;
  border: var(--border);
}

.booking .book-form .flex .inputBox input:focus {
  background: var(--black);
  color: var(--white);
}

.booking .book-form .flex .inputBox input:focus::placeholder {
  color: var(--light-white);
}

.booking .book-form .flex .inputBox span {
  font-size: 1.5rem;
  color: var(--black);
}

.booking .book-form .btn {
  margin-top: 2rem;
  border: 3px solid black;
  font-size: 1.8rem;
  padding: 1rem;
  padding-left: 20rem;
  padding-right: 20rem;
  margin-left: 10rem;
  background: #2c5152;
  color: white;
}
.booking .book-form .flex .inputBox label {
  font-size: 1.5rem;
  color: var(--light-black);
  padding: 1rem;
}
.booking .book-form .flex .inputBox select {
  font-size: 1.5rem;
  color: var(--light-black);
  padding: 1rem;
  padding-left: 10rem;
}



.footer {
  background: url(images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
   
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  right: 40px;
}

.footer .box-container .box h3 {
  color: var(--white);
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: var(--light-white);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--light-white);
  font-size: 2rem;
  color: var(--white);
}

.footer .credit span {
  color: var(--main-color);
}

/* media queries  */

/*   @media (max-width:768px){
 
    .heading h1{
       font-size: 4rem;
    }
    
    .hambuger {
      display: block;
      cursor: pointer;
    }
  
    .hambuger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hambuger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hambuger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    } */
/* .header .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       padding:2rem;
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .navbar a{
       display: block;
       margin:2rem;
       text-align: center;

   }
 
 
 }
}
 */

/* @media (max-width: 450px) {
  html {
    font-size: 50%;
  }} */

  /* .heading-title{
       font-size: 3.5rem;
    } */
    @media (max-width: 450px) {
      html {
        font-size: 50%;
      }
    
      /* .heading-title{
           font-size: 3.5rem;
        } */
    }
    
    
    @media (max-width: 1080px) {
      label.logo {
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a {
        font-size: 16px;
      }
     
      .heading img{
        width:100%;
      }
      
        /* width:100%; */
        /* flex-direction: row; */
    
        
    
      
      
      .why_donate .why_intro {
        width:100%;
      }
      .why_donate .hero_1{
        width:100%;
      }
      .why_donate .hero_2{
        width:100%;
        height:80vh;
      }
      .why_donate .why_body{
        width:100%;
        height: 70vh;
       
      }
    
    /* .booking .book-form .flex{ */
      /* display: flex;
      flex-direction: column; */
    /* }  */
    .flex{
      height:100vh;
    } 
    .booking{
      height: 160vh;
    }
    .booking .book-form{
      height:150vh;
    }
    .booking .book-form .flex .btn{
      padding-left:5rem;
      padding-right: 5rem;
      /* color:black; */
      /* align-items: center; */
      margin-left: 40px;
      margin-right: 40px;
      /* color:black; */
    
    }
    
    }
    
    
    @media (max-width: 658px) {
      .checkbtn {
        display: block;
      }
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
      }
      nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
      }
      nav ul li a {
        font-size: 20px;
      }
      a:hover,
      a.active {
        background: none;
    
        color: turquoise;
      }
      #check:checked ~ ul {
        left: 0;
      }
      .heading img{
        width:100%;
      }
      
        /* width:100%; */
        /* flex-direction: row; */
    
        
    
      
      
      .why_donate .why_intro {
        width:100%;
      }
      .why_donate .hero_1{
        width:100%;
      }
      .why_donate .hero_2{
        width:100%;
      }
      .why_donate .why_body{
        width:100%;
        height: 90vh;
      }
    
    /* .booking .book-form .flex{ */
      /* display: flex;
      flex-direction: column; */
    /* }  */
    .flex{
      height:100vh;
    } 
    .booking{
      height: 160vh;
    }
    .booking .book-form{
      height:150vh;
    }
    .booking .book-form .flex .btn{
      padding-left:5rem;
      padding-right: 5rem;
      /* color:black; */
      /* align-items: center; */
      margin-left: 40px;
      margin-right: 40px;
    
    }
    
    }
    @media (max-width: 858px){
      .checkbtn {
        display: block;
      }
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
      }
      nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
      }
      nav ul li a {
        font-size: 20px;
      }
      a:hover,
      a.active {
        background: none;
    
        color: turquoise;
      }
      #check:checked ~ ul {
        left: 0;
      }
      .heading img{
        width:100%;
      }
      
        /* width:100%; */
        /* flex-direction: row; */
    
        
    
      
      
      .why_donate .why_intro {
        width:100%;
      }
      .why_donate .hero_1{
        width:100%;
      }
      .why_donate .hero_2{
        width:100%;
      }
      .why_donate .why_body{
        width:100%;
        height: 70vh;
      }
    
    /* .booking .book-form .flex{ */
      /* display: flex;
      flex-direction: column; */
    /* }  */
    .flex{
      height:100vh;
    } 
    .booking{
      height: 160vh;
    }
    .booking .book-form{
      height:150vh;
    }
    .booking .book-form .flex .btn{
      padding-left:5rem;
      padding-right: 5rem;
      /* color:black; */
      /* align-items: center; */
      margin-left: 40px;
      margin-right: 40px;
    
    }
    }
    @media (max-width: 1200px){
      .flex{
        height:100vh;
      } 
      .booking{
        height: 160vh;
      }
      .booking .book-form{
        height:150vh;
      }
      .booking .book-form .flex .btn{
        padding-left:5rem;
        padding-right: 5rem;
        /* color:black; */
        /* align-items: center; */
        margin-left: 40px;
        margin-right: 40px;
      
      }
    }


